<!DOCTYPE html>
<html>
  <head>
    <% include ../../includes/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/ta03.css" />
  </head>

  <body>
    <% include ../../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1><%= title %></h1>
      </div>
    </div>
    <div class="container">
      <div>
        <a href="/prove03/users" class="btn btn-primary">See Users</a>
      </div>
      <% if (products.length> 0) { %>
      <h2>Products</h2>
      <form action="/prove03/search" method="get">
        <input type="text" name="query" id="query" />
        <button type="submit">Search</button>
        <% if (path.includes("search")) { %>
        <a href="/prove03/" class="btn btn-warning">Clear Results</a>
        <% } %>
      </form>
      <div class="product-container">
        <% for (product of products) { %>
        <div class="product">
          <div>
            <h3><%= product.name %> - $<%= product.price %></h3>
          </div>
          <div>
            <p><%= product.description %></p>
            <p>Tags: <%= product.tags.join(", ") %></p>
          </div>
        </div>
        <% } %>
      </div>
      <% } else { %>
      <h2>No Products Found!</h2>
      <div>
        <a href="/prove03/" class="btn btn-info">See All Products</a>
      </div>
      <% } %>
    </div>
  </body>
</html>
