<!DOCTYPE html>
<html>
  <head>
    <% include ../../includes/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <style>
      .product {
        display: flex;
        width: 800px;
        align-items: center;
        justify-content: space-between;
      }
      .product-container a {
        text-decoration: none;
        color: #333;
      }
      .product-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: all 0.12s ease-in-out;
        border: 1px solid transparent;
        border-radius: 8px;
        padding: 0 1rem;
        margin-bottom: 2rem;
        width: 100%;
      }
      .product-container:hover {
        border: 1px solid #333;
      }
      .product-container:hover .controls {
        visibility: visible;
        opacity: 1;
      }
      .product-container .controls {
        visibility: hidden;
        opacity: 0;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        transition: all 0.12s ease-in-out;
      }
      .product-container .controls > * {
        margin-left: 1.4rem;
      }
      .product-container .info {
        width: 200px;
      }
    </style>
  </head>

  <body>
    <% include ../../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1><%= title %></h1>
      </div>
    </div>
    <div class="container">
      <div>
        <a href="/prove04" class="btn btn-primary">See Products</a>
      </div>
      <% if (products.length> 0) { %>
      <h2>Products</h2>
      <% for (const [i, product] of products.entries()) { %>
      <div class="product-container">
        <div class="info">
          <a href="/prove04/product/<%= i %>">
            <div class="product">
              <div>
                <h3><%= product.name %> - $<%= product.price %></h3>
              </div>
              <div>
                <p><%= product.description %></p>
                <p>Tags: <%= product.tags.join(", ") %></p>
              </div>
            </div>
          </a>
        </div>
        <div class="controls">
          <form action="./cart-items/delete" method="POST">
            <div>
              <input type="hidden" id="productId" name="productId" value="<%= product._id %>" />
              <button class="btn btn-danger" type="submit">Delete</button>
            </div>
          </form>
        </div>
      </div>
      <% } %> <% } else { %>
      <h2>No Products Found!</h2>
      <div>
        <a href="/prove04/" class="btn btn-info">See All Products</a>
      </div>
      <% } %>
    </div>
  </body>
</html>
