<!DOCTYPE html>
<html>
  <head>
    <% include ../../includes/header.ejs %>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <style>
      .product-container:hover {
        border-color: black;
      }
      .product-container {
        cursor: pointer;
        border: 1px solid transparent;
        transition: all 0.12s ease-in-out;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 1.4rem;
        border-radius: 1rem;
        margin-bottom: 1.4rem;
      }
      .product-container .add-to-cart {
        visibility: hidden;
        opacity: 0;
        transition: all 0.12s ease-in-out;
        margin-left: 1.4rem;
      }
      .product-container .add-to-cart a {
        color: white;
      }
      .product-container:hover .add-to-cart {
        visibility: visible;
        opacity: 1;
      }
      .product-container a {
        text-decoration: none;
        color: #333;
      }
    </style>
  </head>

  <body>
    <% include ../../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1><%= title %></h1>
      </div>
    </div>
    <div class="container">
      <div>
        <a href="/prove04/users" class="btn btn-primary">See Users</a>
        <% if (cartItems.length) { %>
        <a href="/prove04/cart-items" class="btn btn-success">See Cart Items (<%= cartItems.length %>)</a>
        <% } %>
      </div>
      <% if (products.length> 0) { %>
      <h2>Products</h2>
      <form action="/prove04/search" method="get">
        <input type="text" name="query" id="query" />
        <button type="submit">Search</button>
        <% if (path.includes("search")) { %>
        <a href="/prove04/" class="btn btn-warning">Clear Results</a>
        <% } %>
      </form>
      <% for (const [i, product] of products.entries()) { %>
      <div class="product-container">
        <div class="info">
          <a href="/prove04/product/<%= i %>">
            <div class="product">
              <div>
                <h3><%= product.name %> - $<%= product.price %></h3>
              </div>
              <div>
                <p><%= product.description %></p>
                <p>Tags: <%= product.tags.join(", ") %></p>
              </div>
            </div>
          </a>
        </div>
        <div class="add-to-cart">
          <form action="/prove04/cart/add" method="POST">
            <input type="hidden" name="name" value="<%= product.name %>" />
            <input type="hidden" name="price" value="<%= product.price %>" />
            <input type="hidden" name="description" value="<%= product.description %>" />
            <input type="hidden" name="tags" value="<%= product.tags %>" />
            <button class="btn btn-success" type="submit">Add To Cart</button>
          </form>
        </div>
      </div>
      <% } %> <% } else { %>
      <h2>No Products Found!</h2>
      <div>
        <a href="/prove04/" class="btn btn-info">See All Products</a>
      </div>
      <% } %>
    </div>
  </body>
</html>
